---
title: 5 Git resources for visual learners
author: PJ Metz
author_gitlab: PjMetz
author_twitter: MetzinAround
categories: open source
tags: git, open source, community
description: Learning Git is not commonplace in code instruction, yet it is
  essential for modern software development. These sites get you started.
image_title: /images/blogimages/armycyberschool.jpg
twitter_text: Git is a centerpiece of modern software development. Yet learning
  it is still a somewhat on-the-job experience. We've gathered a list of sites
  to get you started on your own with Git.
---
[Git](https://Git-scm.com/doc) is free and open source version control and has become the industry standard for keeping track of changes in software. A recent [survey](https://www.jetbrains.com/lp/devecosystem-2021/) by JetBrains states that 93% of developers surveyed use Git for source control.  Even though it’s used by almost every software developer, it’s still not ubiquitously taught as part of coding courses. Many people end up learning Git either on the job or on their own.

We’ve gathered a list of sites to learn Git, whether you’re brand-new to it or you need to fine-tune your skills. These five resources are largely focused on visual learning and use either video-based tools or an interactive website or game. 


**1. [Oh My Git](https://ohmyGit.org/)**

Oh My Git is a gamified way of learning Git commands that includes a visualization of what effect your actions have on the repository. It’s card-based for early beginners. Think of it like Hearthstone or Magic the Gathering, but better for learning. It can also be played by using the command line as well. Start playing today! 

**2. [Git for Computer Scientists](https://eagain.net/articles/Git-for-computer-scientists/)**

I love the abstract for this site: “Quick introduction to Git internals for people who are not scared by words like Directed Acyclic Graph.” This website has lots of helpful graphs for people who aren’t necessarily working explicitly in software, and is intended for a specific audience of computer scientists; be aware before heading in. 

**3. [Learn Git Branching](https://Github.com/pcottle/learnGitBranching#learnGitbranching)**

Sometimes, the complicated part of Git is understanding what is actually happening when you’re creating or working with multiple branches. This visualization tool helpfully creates a real-time display of changes to commit trees. 

**4. [Explain Git with D3](https://onlywei.github.io/explain-git-with-d3/)**

This is such a great resource and one that everyone should have bookmarked. This website lets you type commands in a CLI and immediately see graphs representing what you did on the right. It has an open playground mode where you can just do whatever you like as well as structured lessons for common Git commands. If you use Git but it just feels like magic, then this is a great website for deepening your understanding of what Git does. 

**5. [Git for ages 4 and up](https://youtu.be/1ffBJ4sVUb4?t=125)**

This is a fantastic video of Michael G. Schwern at Linux conf.au in 2013. Using children's toys, Michael gives us a great example of what exactly goes on in Git. It’s an entertaining video with important basics and concepts for anyone struggling to understand Git. 

<!-- blank line -->
<figure class="video_container">
  <iframe src="https://www.youtube.com/embed/1ffBJ4sVUb4" frameborder="0" allowfullscreen="true"> </iframe>
</figure>
<!-- blank line -->

## Did you know? 

GitLab offers free Ultimate tier licenses to qualifying educational institutions when used for learning, teaching, or research? Learn more [here](/solutions/education/).
